@media (max-width: 600px){
    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        text-align: center;
    }

    .header-title {
        padding-top: 0.5em;
    }

    .header-title h1 {
        font-size: 1.8em;
    }


}