@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px "Karla";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cormorant Infant";
}

.container {
    color: black;
    max-width: 410px;
    margin: 0 auto;
    border: 2px;
}


.main  {
    color: #fff;
}


.site-header {
    display: flex;
    justify-content: space-between;
}

.site-header nav ul {
    display: flex;
}

.site-header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

.site-header nav a {
    text-decoration: none;
    color: #000000;
}