@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 12px/1.5 "Inter";
}

body{
    padding:2em;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

article{
    display: flex;
    gap: 2em;
    max-width: 830px;
    margin: 0 auto;
    border: 5px solid #000;
    border-radius: 0.67em;
    padding: 2.5em;
    background: #1881B6;
}

article .content{
    flex: 1 1 auto;
}

article .media{
    flex: 0 0 290px;
}

article header{
    font-size: 0.9em;
    padding-bottom: 1.5em;
}

article header p{
    font-size: 1.45em;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2em;
}

article header h2{
    color: #fff;
    line-height: 1;
    font-size: 2.75em;
    font-weight: normal;
}

article section p{
    padding-right: 1em;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 1.5em;
    text-indent: 3em;
}

article .buttons{
    display: flex;
    justify-content: space-evenly;
}

article .button{
    font-size: 0.8em;
    display: block;
    padding: 5px 15px;
    font-weight: 700;
    border: 1px solid #000;
    border-radius: 4px;
    color: #000;
    text-decoration: none;
}

article .button.colored{
    background-color: #B6416D;
    color: #fff;
}

