* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    border: 2px;
}

.site-section.banner {
    background-image: url("background.jpg");
    background-color: #00052f;
}

.site-section.banner .container {
    border: 2px solid black;
    color: #fff;
}